<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "\static\CSS\style3.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@1,200&family=Orbit&display=swap" rel="stylesheet">
</head>
<body style ="background-color: blueviolet;">
<div class="header1">
    <h1>Ded_error</h1>
  </div>
</div>  

<div class="content">
  <h1>DROWSINESS DETECTION</h1>
  <P>Welcome to our Drowsiness Detection App, a revolutionary solution designed to help drivers stay alert and prevent accidents caused by drowsiness. This app utilizes advanced technologies and algorithms to monitor driver fatigue levels and provide timely alerts, ensuring a safer and more attentive driving experience.
    Our app utilizes the device's front-facing camera and sensors to continuously monitor the driver's face and detect signs of drowsiness in real-time.</P>
    <div>
      <a href="{{url_for('start')}}">
        <button type="button">
          START
        </button>
      </a>
      
      <a href="{{url_for('team')}}">            
        <button type="button">
          TEAM
       </button>
      </a>
    </div>
  </div>

</body>
</html>