<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "\static\CSS\style2.css"  >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@1,200&family=Orbit&display=swap" rel="stylesheet">

  </head>
  <body style ="background-color: blueviolet;">
      <div class="header2">
        <h1>DROWSINESS DETECTION</h1>
      </div> 
      <div class="video">
        <img src="{{url_for('video')}}" >
      </div>
  </body>
</html>