<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "\static\CSS\style.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@1,200&family=Orbit&display=swap" rel="stylesheet">
</head>

<body >
    <div class="header2">
        <h1>OUR TEAM</h1>
    </div> 

    <div>
        <a href="https://github.com/drift6252" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="/static/images/ritankar.jpg" class="cover-image" />
              </div>
              <img src="/static/images/into rit.png" class="title" />
              <img src="/static/images/rit.webp" class="character" />
            </div>
          </a>
          
          <a href="https://github.com/Wolfkissed6040" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="/static/images/rudraneel.jpg" class="cover-image" />
              </div>
              <img src="/static/images/rud intro.png" class="title" />
              <img src="/static/images/rud.webp" class="character" />
            </div>
          </a>
          
          <a href="https://github.com/Abhradip2oo2" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="/static/images/Abhradip.jpg" class="cover-image" />
              </div>
              <img src="/static/images/abhra intro.png" class="title" />
              <img src="/static/images/Abhra.webp" class="character" />
            </div>
          </a>
          
          <a href="https://github.com/Ag-ops17" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="/static/images/agnimitra.jpg" class="cover-image" />
              </div>
              <img src="/static/images/agni intro.png" class="title" />
              <img src="/static/images/agni.webp" class="character" />
            </div>
          </a>
    </div>
    
    
    



</body>
</html>